/*
#################################################################################################################################
# Addon:	WAF-FI --> WAF Fernseh Interface
# Version:	1.0
# Date:		29.05.2019
# Autor:	Nisbo
# Based on an idea by: Fonzo
# https://www.symcon.de/forum/threads/31582-Tastenfeld-Navigationswippe-dynamische-Webseiten-im-Webfront-darstellen
#################################################################################################################################
*/

/*
This file contains only the "satic" css code, there is more css code in the module.php
If you want to add / modify own code use the configuration form inside IPS, there is a field called "Eigener CSS Code"
*/


.navright{
	float: left;
}

.navleft{
	float: left;
}

.noImageAvailable {

}

.zapimage {
	margin:			auto;
	position:		absolute;
	/* yes it makes no sense but it vertically center the image */
	right:			0;
	top:			0;
	bottom:			0;
	left:			0;
}

.buttonMouseOver {
	display:						inline-block;
	vertical-align:					middle;
	-webkit-transform:				translateZ(0);
	transform:						translateZ(0);
	box-shadow:						0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility:	hidden;
	backface-visibility:			hidden;
	-moz-osx-font-smoothing:		grayscale;
	-webkit-transition-duration:	0.3s;
	transition-duration:			0.3s;
	-webkit-transition-property:	box-shadow;
	transition-property:			box-shadow;
	box-shadow:						0 0 8px rgba(0, 0, 0, 0.6);
}

.buttonMouseOverR {
	display:						inline-block;
	vertical-align:					middle;
	-webkit-transform:				translateZ(0);
	transform:						translateZ(0);
	box-shadow:						0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility:	hidden;
	backface-visibility:			hidden;
	-moz-osx-font-smoothing:		grayscale;
	-webkit-transition-duration:	0.3s;
	transition-duration:			0.3s;
	-webkit-transition-property:	box-shadow;
	transition-property:			box-shadow;
	box-shadow:						0 0 8px rgba(0, 0, 0, 0.6);
}

.buttonMouseOverRE {
	display:		inline-block;
    vertical-align: middle;
}

.buttonMouseOverRE:hover, .buttonMouseOverRE:focus, .buttonMouseOverRE:active {
	/* this is a placeholder */
}

#wrapper {
	margin: 0 auto;
}
